*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
background-color: rgb(216, 243, 255);
height: 4.5rem;
border-bottom: 2px solid black;
}
.nav img{
    height: 4.4rem;
    width: 4.5rem;
    border-radius:50% ;
    margin-left: 1.1rem;
   margin-bottom: 1rem;
}
.nav li{
    float: left;
    list-style-type: none;
margin-top: 1.2rem;
padding: 10px;
margin-left: 3rem;
font-weight: bold;
font-size: 1.1rem;
}

/* hero */


.hero{
background-image: url(./pexels-josh-sorenson-187931.jpg);
height: 30rem;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
color: rgb(0, 0, 0);
text-align: center;
padding-top: 10rem;
font-size: 1.2rem;
font-weight: bold;

}
button{
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    background-color: rgb(20, 228, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40%;
}
button:hover{
transform: scaleX(11px);
    transition: all ease .5s;
    font-size: 1rem;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 45%;
}

/* images */

.pic{
padding-top: 4rem;
padding-bottom: 4rem;
   background-color: rgb(216, 229, 255);
}
.pic img{
    height: 20rem;
    padding: 20px;
    text-align: center;
   
}
.pic img:hover{
    transform: scale(1.1);
    transition: all ease .5s;
}
.pic1{
    margin-left: 12rem;
}
.pic2{
    margin-left: 12rem;
}
.qqq{
    text-align: center;
    padding: 3rem;
}


/* cards */

.card{
    display: flex;
    background-color: rgb(211, 255, 251);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}





.card img{
    height: 10rem;
    width: 15rem;
}
.card1{
    border: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 5rem;
    margin: 1rem;
    text-align: center;
    background-image: url(./pexels-pixabay-56866.jpg);
    background-position: left top;
    font-size: 1.2rem;
    color: white;
}
.card img:hover{
    height: 10rem;
    width: 15rem;
    transform: scale(1.1);
    transition: all ease .8s;
}


/* aaaaaaaaaaa */

.image{
    display: flex;
    width: 1000px;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top: 20x solid black;
    border-bottom: 20x solid black;
    font-size: 1.1rem;
    background-color: rgb(229, 240, 255);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    box-shadow: 0px 5px 15px rgb(66, 66, 66);
    padding-right: 2rem;
}
.image img{
    height: 20rem;
    border-radius: 20%;
}
.image img:hover{
    height: 20rem;
    border-radius: 20%;
    transform: scale(1.1);
    transition: all ease .5s;
}
.image p{
    text-align: center;
}
.image1{
    margin: 1rem;
}


/* footer */


.footer{
    display: flex;
background-color: rgb(216, 226, 255);
 text-align: center;
 line-height: 25px;
 padding-bottom: 3rem;
 padding-top: 2rem;
}
.footer li{
    list-style-type: none;
    font-weight: 1.2rem;
padding-left:5px;
}
.footer1{
    padding: 20px;
    font-size: 1.2rem;
    padding-left:6rem ;
}
.list i{
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    padding-top: 5px;
    background-color: cornflowerblue;
    margin: 10px;
}
.list i:hover{
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: all ease .5s;
}